@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-ms-overflow-style: none !important;  /* IE and Edge */
  	scrollbar-width: none !important;  /* Firefox */
}

*::-webkit-scrollbar {
	display: none !important; /* Chrome, Safari, Opera*/
}

body {
	font-family: var(--main-font) !important;
}