@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-ubuntu) !important;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}